.container {
  min-height: calc(100vh - 210px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.input {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin-top: 20px;
  border-bottom: 2px solid var(--main);
  font-size: 16px;
  background: transparent;
}

.registration {
  display: flex;
  gap: 8px;
  margin: 10px 0 30px;
}

.text {
  font-size: 15px;
}

.link {
  font-size: 15px;
  text-decoration: underline;
  color: var(--main);
}

.btn {
  width: max-content;
  padding: 12px 50px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  background: var(--main);
  color: #fff;
  margin: auto;
}

.google {
  text-transform: capitalize;
  margin: 20px 0;
}

.go {
  color: var(--main);
  cursor: pointer;
}


@media screen and (max-width: 640px) {
  .form{
    width: 400px;
  }
}