* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --textColor: #000;
  --softBg: #f0f0f0;
  --softText: #626262;
  --main:#53c28b;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
